{% extends "admin/change_form.html" %}

{% block extrahead %}{{ block.super }}
<script type="text/javascript">
    django.jQuery(function($) {
        $('.submit-row input[type=submit]').click(function() {
            var all_empty = true;
            $('.dynamic-personeditcause_set input[type=text]:visible').each(function(){
                if ($(this).val()) {
                    all_empty = false;
                }
            });
            if (all_empty) {
                alert('Необходимо указать основание для редактирования');
                return false;
            }
        });
    })
</script>
{% endblock %}