{% load i18n %}
{% load adminmedia %}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="ru">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css" href="/adminmedia/css/base.css">
    <link rel="stylesheet" type="text/css" href="/adminmedia/css/forms.css">
    <link rel="stylesheet" type="text/css" href="/adminmedia/css/widgets.css">
    {% block scripts %}{% endblock %}
    <script type="text/javascript">
        window.__admin_media_prefix__ = "{% filter escapejs %}{% admin_media_prefix %}{% endfilter %}";
    </script>
    {{ form.media }}
    <link rel="stylesheet" type="text/css" href="/media/css/base.css">
    <script type="text/javascript" src="/media/js/repository.js"></script>
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    <table width="100%">
        {# Верхная строка с логотипом и меню #}
        <tr>
            <td align="left" width="70%">
                <a href="/persons/">[Воины]</a>&nbsp;&nbsp;|&nbsp;
                <a href="/burials/">[Захоронения]</a>
            </td>
            <td align="right" colspan="3">
                {% if user.is_authenticated %}
                    {{ user.username }}&nbsp;&nbsp;
                {% endif %}
            </td>
        </tr>
    </table>
    {# Наполнение страницы #}
    <table width="100%">
        <tr>
            </td>{% block content %}{% endblock %}</td>
        </tr>
    </table>
</body>

</html>
