<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="ru">

{% load i18n %}
{% load adminmedia %}

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/admin/css/base.css">
    <link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css">
    <link rel="stylesheet" type="text/css" href="/static/admin/css/widgets.css">
    {% block scripts %}{% endblock %}
    <script type="text/javascript">
        window.__admin_media_prefix__ = "{% filter escapejs %}{% admin_media_prefix %}{% endfilter %}";
    </script>
    {{ form.media }}
    <title>{% block title %}{% endblock %}</title>
    <style type="text/css" media="print">
        .top_nav { display: none; }
    </style>
    {% block head %}{% endblock head %}
</head>

<body>
    {% if messages %}
        <ul class="messagelist">{% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}</ul>
    {% endif %}

    <table width="100%" class="top_nav">
        {# Верхная строка с логотипом и меню #}
        <tr>
            <td align="left" width="70%">
                <a href="/admin/">[Управление]</a>&nbsp;&nbsp;|&nbsp;
                <a href="/persons/">[Воины]</a>&nbsp;&nbsp;|&nbsp;
                <a href="/burials/">[Захоронения]</a>&nbsp;&nbsp;:&nbsp;
                <a href="/burials/?template=reports/report_2.html">[Ф2]</a>&nbsp;
                <a href="/burials/?template=reports/report_2a.html">[Ф2а]</a>&nbsp;
                <a href="/burials/?template=reports/report_2b.html">[Ф2б]</a>&nbsp;
                <a href="/burials/?template=reports/report_3.html">[Ф3]</a>&nbsp;
                <a href="/burials/?template=reports/report_4.html">[Ф4]</a>&nbsp;
                <a href="/burials/?template=reports/report_4a.html">[Ф4а]</a>&nbsp;
                <a href="/burials/?template=reports/report_5.html">[Ф5]</a>
                <a href="/import/">[Импорт]</a>
            </td>
            <td align="right" colspan="3">
                {% if user.is_authenticated %}
                    {{ user.username }}&nbsp;&nbsp;
                {% endif %}
            </td>
        </tr>
    </table>
    {# Наполнение страницы #}
    <table width="100%">
        <tr>
            <td>{% block content %}{% endblock %}</td>
        </tr>
    </table>
    {% if debug %}
    <div style="clear: both">
        {% for q in sql_queries %}
        <br/>{{ q.time }}: {{ q.sql }}
        {% endfor %}
    </div>
    {% endif %}
</body>

</html>
