{% load i18n %}
{% load adminmedia %}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="ru">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/admin/css/base.css">
    <link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css">
    <link rel="stylesheet" type="text/css" href="/static/admin/css/widgets.css">
    {% block scripts %}{% endblock %}
    <script type="text/javascript">
        window.__admin_media_prefix__ = "{% filter escapejs %}{% admin_media_prefix %}{% endfilter %}";
    </script>
    {{ form.media }}
    <title>{% block title %}{% endblock %}</title>
    <style type="text/css" media="@print">
        .top_nav { display: none; }
    </style>
</head>

<body>
    <table width="100%" class="top_nav">
        {# Верхная строка с логотипом и меню #}
        <tr>
            <td align="left" width="70%">
                <a href="/admin/">[Управление]</a>&nbsp;&nbsp;|&nbsp;
                <a href="/persons/">[Воины]</a>&nbsp;&nbsp;|&nbsp;
                <a href="/burials/">[Захоронения]</a>&nbsp;&nbsp;|&nbsp;
                <a href="/burials/?template=reports/report_2a.html">[Захоронения Ф2а]</a>&nbsp;&nbsp;|&nbsp;
                <a href="/burials/?template=reports/report_2b.html">[Захоронения Ф2б]</a>&nbsp;&nbsp;|&nbsp;
                <a href="/burials/?template=reports/report_3.html">[Захоронения Ф3]</a>&nbsp;&nbsp;|&nbsp;
                <a href="/burials/?template=reports/report_4.html">[Захоронения Ф4]</a>&nbsp;&nbsp;|&nbsp;
                <a href="/burials/?template=reports/report_5.html">[Захоронения Ф5]</a>
            </td>
            <td align="right" colspan="3">
                {% if user.is_authenticated %}
                    {{ user.username }}&nbsp;&nbsp;
                {% endif %}
            </td>
        </tr>
    </table>
    {# Наполнение страницы #}
    <table width="100%">
        <tr>
            <td>{% block content %}{% endblock %}</td>
        </tr>
    </table>
</body>

</html>
