{% extends "base.html" %}

{% block title %}MIL.ORG - Карточка Захоронения{% endblock %}

{% block content %}
    <h1><a href="/admin/common/burial/{{burial.uuid}}">Карточка Захоронения {{ burial.passportid }}</a></h1>
    <br>

    {% if burial.burial_from %}
    <h1>Внимание! Это захоронение закрыто!</h1>
    Дата закрытия: {{ burial.burial_from.date }}<br>
    Причина закрытия: {{ burial.burial_from.cause }}<br>
    Новое захоронение: <a href="{% url burial burial.burial_from.burial_to.uuid%}">{{ burial.burial_from.burial_to}}</a><br>
    <br>
    <br>
    {% endif %}


    Номер паспорта захоронения: {{ burial.passportid }}<br>
    Дата паспорта захоронения: {{ burial.get_unclear_date_passport }}<br>
    Дата захоронения: {{ burial.get_unclear_date_burried }}<br>
    Дата обнаружения: {{ burial.get_unclear_date_discovered }}<br>
    Адрес захоронения: {{ burial.location }}<br>
    Тип воинского захоронения: {{ burial.burial_type.name }}<br>
    Военный конфликт: {{ burial.military_conflict.name }}<br>
    Дата установки памятника: {{ burial.get_unclear_date_memorial }}<br>
    Дата установки госзнака: {{ burial.get_unclear_date_gosznak }}<br>
    Дополнительная информация о месте захоронения: {{ burial.info }}<br>
    <br>
    Количество захороненнных: {{ burial.get_count|add:burial.get_qunknown }}<br>
    <br>
    Количество известных: {{ burial.get_count }}<br>
    <br>
    Количество неизвестных: {{ burial.get_qunknown }}<br>
    <br>
    <form action="" method="GET">
        Записей на странице:
        <select name="per_page">
            <option value="20" {% if request.GET.per_page == '20' %} selected="true"{% endif %}>20</option>
            <option value="50" {% if request.GET.per_page == '50' %} selected="true"{% endif %}>50</option>
            <option value="100" {% if request.GET.per_page == '100' %} selected="true"{% endif %}>100</option>
        </select>
        <input type="submit" value="обновить" />
    </form>
    
    <table border="1" rules="rows" width="100%">
        <thead>
            <td></td>
            <td>ФИО</td>
            <td>Дата рождения</td>
            <td>Дата смерти</td>
            <td>Причина гибели</td>
            <td>Дата захоронения</td>
        </thead>
    {% for p in object_list %}
        <tr>
            <td>{{ forloop.counter0|add:page_obj.start_index }}</td>
            <td><a href="{% url person p.uuid %}">{{ p.last_name }}&nbsp;{{ p.first_name }}&nbsp;{{ p.patronymic }}</a></td>
            <td>{{ p.get_unclear_birth_date|default:"" }}</td>
            <td>{{ p.get_unclear_death_date|default:"" }}</td>
            <td>{{ p.death_cause|default:"" }}</td>
            <td>{{ burial.get_unclear_date_burried|default:"" }}</td>
        </tr>
    {% endfor %}
    </table>
    <br/>
    <center>
        {% if page_obj.has_previous %}
            <a href="?{{ query_vars }}&page={{ page_obj.previous_page_number }}&per_page={{ request.GET.per_page }}"><< Пред</a>
        {% endif %}

        Страница {{ page_obj.number }} из {{ paginator.num_pages }}

        {% if page_obj.has_next %}
            <a href="?{{ query_vars }}&page={{ page_obj.next_page_number }}&per_page={{ request.GET.per_page }}">След >></a>
        {% endif %}
    </center>

    <br>
    <br>
    {% if burial.burial_to.all %}
    <br>
    <h1>В это захоронение были перенесены следующие воины:</h1>

        {% for cb in burial.burial_to.all %}
        <h3>Захоронение №<a href="{% url burial cb.burial_from.uuid %}">{{ cb.burial_from.passportid }}</a></h3>
            <h3>Дата переноса: {{ cb.date }}</h3>
            <h3>Причина переноса: {{ cb.cause }}</h3>
            <table border="1" rules="rows" width="100%">
                <thead>
                    <td>ФИО</td>
                    <td>Дата рождения</td>
                    <td>Дата смерти</td>
                    <td>Причина гибели</td>
                    <td>Дата первого захоронения</td>
                </thead>
            {% for p in cb.burial_from.person_set.all %}
                <tr>
                    <td><a href="{% url person p.uuid %}">{{ p.last_name }}&nbsp;{{ p.first_name }}&nbsp;{{ p.patonymic }}</a></td>
                    <td>{{ p.get_unclear_birth_date|default:"" }}</td>
                    <td>{{ p.get_unclear_death_date|default:"" }}</td>
                    <td>{{ p.death_cause.name|default:"" }}</td>
                    <td>{{ cb.burial_from.get_unclear_date_burried|default:"" }}</td>
                </tr>
            {% endfor %}
        {% endfor %}

    {% endif %}


{% endblock %}
