{% extends "base.html" %}

{% block title %}MIL.ORG - Карточка Захоронения{% endblock %}

{% block content %}
    <h1>Карточка Захоронения</h1>
    <br>

    {% if burial.closedburial %}
    <h1>Внимание это захоронение закрыто!</h1>
    Дата закрытия: {{ burial.closedburial.date }}<br>
    Причина закрытия: {{ burial.closedburial.cause }}<br>
    Новое захоронение: <a href="/burial/{{burial.closedburial.burial_to.uuid}}">{{ burial.closedburial.burial_to}}</a>
    <br>
    {% endif %}


    Номер паспорта захоронения: {{ burial.passportid }}<br>
    Дата паспорта захоронения: {{ burial.date_passport }}<br>
    Дата захоронения: {{ burial.date_burried }}<br>
    Дата обнаружения: {{ burial.date_discovered }}<br>
    Адрес захоронения: {{ burial.locationburial }}<br>
    Тип воинского захоронения: {{ burial.burial_type.name }}<br>
    Военный конфликт: {{ burial.military_conflict.name }}<br>
    Дата установки памятника: {{ burial.date_memorial }}<br>
    Дата установки госзнака: {{ burial.date_gosznak }}<br>
    Дополнительная информация о месте захоронения: {{ burial.additional_info }}<br>
    <br>
    Количество захороненнных: {{ burial.persons.count }}<br>
    <br>
    Количество неизвестных: {{ burial.qunknown }}<br>
    <br>
    
    <table border="1" rules="rows" width="100%">
        <thead>
            <td>ФИО</td>
            <td>Дата рождения</td>
            <td>Дата смерти</td>
            <td>Причина гибели</td>
            <td>Дата захоронения</td>
            <td>Дата эксгумации</td>
        </thead>
    {% for pb in burial.personburial_set.all %}
        <tr>
            <td><a href="/person/{{pb.person.uuid}}">{{ pb.person.last_name }}&nbsp;{{ pb.person.first_name }}&nbsp;{{ pb.person.patonymic }}</a></td>
            <td>{{ pb.person.birth_date }}</td>
            <td>{{ pb.person.death_date }}</td>
            <td>{{ pb.person.death_cause.name }}</td>
            <td>{{ pb.date_burried }}</td>
            <td>{{ pb.date_exhumated }}</td>
        </tr>
    {% endfor %}
    </table>




{% endblock %}
