{% extends "base.html" %}
{% block scripts %}
<link rel="stylesheet" href="http://yandex.st/jquery-ui/1.8.11/themes/humanity/jquery.ui.all.min.css"/>

<script type="text/javascript" src="http://yandex.st/jquery/1.5.1/jquery.min.js"></script>
<script type="text/javascript" src="http://yandex.st/jquery-ui/1.8.11/jquery-ui.min.js"></script>
<script type="text/javascript" src="http://yandex.st/jquery-ui/1.8.11/i18n/jquery.ui.datepicker-ru.min.js"></script>
<script type="text/javascript">
    $(function() {
        $( ".DateField" ).datepicker({
			changeMonth: true,
			changeYear: true,
            dateFormat: 'dd.mm.yy',
            yearRange: '1600:{% now "Y" %}'
		});
    })
</script>
{% endblock %}

{% block title %}MIL.ORG - Поиск захоронений{% endblock %}

{% block content %}
    {# Заголовок страницы #}
    <h1>
        Поиск Захоронений
        {% if template == 'reports/report_3.html' %}Ф3{% endif %}
        {% if template == 'reports/report_4.html' %}Ф4{% endif %}
        {% if template == 'reports/report_5.html' %}Ф5{% endif %}
    </h1>
    {# Форма поиска #}
    <form action="" method="get">
        <table>
            <input type="hidden" name="template" value="{{ template }}"/>
            {{ form.as_table }}
            <tr>
                <td style="vertical-align: middle;">
                    <input type="submit" value="Поиск" name="search" id="isok" style="padding: 10px 50px; " />
                </td>
                <td style="vertical-align: middle; text-align: right;">
                    <input type="submit" value="Сброс" name="search" id="iscancel" />
                </td>
            </tr>
        </table>
    </form>
    <br>
    {# Вывод результатов поиска в виде таблицы #}
    {% if burials %}
        <table width="100%">
            <caption align="left" style="text-align:left">Результат&nbsp;поиска:&nbsp;{{ burials_count }}&nbsp;записей</caption>
                <thead>
                    <td>Паспорт</td>
                    <td>Дата паспорта</td>
                    <td>Создано</td>
                    <td>Обнаружено</td>
                    <td>Адрес</td>
                    <td>Тип</td>
                    <td>Военный конфликт</td>
                    <td>Памятник</td>
                    <td>Состояние</td>
                    <td>Госзнак</td>
                    <td>Информация</td>
                    <td align="center">Опции</td>
                </thead>
            {% for burial in burials.object_list %}
                <tr>
                    <td>{{ burial.passportid }}</td>
                    <td>{{ burial.date_passport }}</td>
                    <td>{{ burial.date_buried }}</td>
                    <td>{{ burial.date_discovered }}</td>
                    <td>{{ burial.locationburial }}</td>
                    <td>{{ burial.burial_type }}</td>
                    <td>{{ burial.military_conflict }}</td>
                    <td>{{ burial.date_memorial }}</td>
                    <td>{{ burial.state }}</td>
                    <td>{{ burial.date_gosznak }}</td>
                    <td>{{ burial.info }}</td>
                    <td align="center"><a href="{% url burial  burial.uuid %}">[Просмотр]</a></td>
                </tr>
            {% endfor %}
        </table>
        <br/>
        <center>
            {% if burials.has_previous %}
                <a href="?{{ query_vars }}&p={{ burials.previous_page_number }}"><< Пред</a>
            {% endif %}

            Страница {{ burials.number }} из {{ burials.paginator.num_pages }}

            {% if burials.has_next %}
                <a href="?{{ query_vars }}&p={{ burials.next_page_number }}">След >></a>
            {% endif %}
        </center>
    {% else %}
        {% if is_first_search %}
            <caption>Поиск&nbsp;не&nbsp;выполнен. Всего записей: {{ burials_count }}&nbsp;</caption>
        {% else %}
            <caption>Результат&nbsp;поиска:&nbsp;0</font>&nbsp;записей</caption>
        {% endif %}
    {% endif %}
{% endblock %}
