{% extends "base.html" %}

{% block head %}
    <style>
        tr.errors {
            background-color: #FFFCCF;
        }
        tr.errors td.error {
            background-color: #ffcccc;
        }
    </style>
{% endblock head %}

{% block title %}MIL.ORG - Импорт{% endblock %}

{% block content %}
    <h1>Импорт в захоронение № {{ burial_obj.passportid }}</h1>
    {% if not any_errors %}
        <p>Все ок, можно загружать</p>
    {% else %}
        <p>Обнаружены {% if bad_errrors %}ошибки{% else %}дубли{% endif %}, см. в таблице</p>
    {% endif %}
    <form action="{% url import2 %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="lines" value="{{ all_data|length }}" />
        <input type="hidden" name="burial" value="{{ burial_obj.pk }}" />

        <input type="hidden" value="{{ head.0 }}" name="head_1" />
        <input type="hidden" value="{{ head.1 }}" name="head_2" />
        <input type="hidden" value="{{ head.2 }}" name="head_3" />
        <input type="hidden" value="{{ head.3 }}" name="head_4" />
        <input type="hidden" value="{{ head.4 }}" name="head_5" />
        <input type="hidden" value="{{ head.5 }}" name="head_6" />
        <input type="hidden" value="{{ head.6 }}" name="head_7" />

        <table>
            <tr>
                <th></th>
                <th>Звание</th>
                <th>ФИО</th>
                <th>Род.</th>
                <th>Умер</th>
                <th>Доп. инфо</th>
                <th>Доп. инфо сл</th>
                <th>Доп. инфо род</th>
            </tr>
            {% for d in all_data %}
                <tr {% if d.errors %}class="errors"{% endif %}>
                    <td>
                        {{ forloop.counter|add:1 }}
                        {% if not d.bad_errrors %}
                            <input type="checkbox" value="on" name="check_{{ forloop.counter0 }}" {% if not d.errors %}checked="checked"{% endif %} />
                        {% endif %}
                    </td>
                    {% if d.data.duty.error %}
                        <td class="error" title="{{ d.data.duty.error }}">
                            {{ d.data.duty.value }}
                            <input type="hidden" value="{{ d.data.duty.value }}" name="post_{{ forloop.counter0 }}" />
                        </td>
                    {% else %}
                        <td>
                            {{ d.data.duty }}
                            <input type="hidden" value="{{ d.data.duty.pk }}" name="post_{{ forloop.counter0 }}" />
                        </td>
                    {% endif %}
                    {% if d.data.person.error %}
                        <td class="error" title="{{ d.data.person.error }}">
                            {{ d.data.person.value }}
                            <input type="hidden" value="{{ d.data.person.data.0 }}" name="last_name_{{ forloop.counter0 }}" />
                            <input type="hidden" value="{{ d.data.person.data.1 }}" name="first_name_{{ forloop.counter0 }}" />
                            <input type="hidden" value="{{ d.data.person.data.2 }}" name="middle_name_{{ forloop.counter0 }}" />
                        </td>
                    {% else %}
                        <td>
                            {{ d.data.person_value }}
                            <input type="hidden" value="{{ d.data.person.0 }}" name="last_name_{{ forloop.counter0 }}" />
                            <input type="hidden" value="{{ d.data.person.1 }}" name="first_name_{{ forloop.counter0 }}" />
                            <input type="hidden" value="{{ d.data.person.2 }}" name="middle_name_{{ forloop.counter0 }}" />
                        </td>
                    {% endif %}
                    {% if d.data.birth.error %}
                        <td class="error" title="{{ d.data.birth.error }}">
                            {{ d.data.birth.value }}
                            <input type="hidden" value="{{ d.data.birth.value }}" name="birth_{{ forloop.counter0 }}" />
                        </td>
                    {% else %}
                        <td>
                            {% if d.data.birth %}
                                {{ d.data.birth }}
                                <input type="hidden" value="{{ d.data.birth }}" name="birth_{{ forloop.counter0 }}" />
                            {% endif %}
                        </td>
                    {% endif %}
                    {% if d.data.death.error %}
                        <td class="error" title="{{ d.data.death.error }}">
                            {{ d.data.death.value }}
                            <input type="hidden" value="{{ d.data.death.value }}" name="death_{{ forloop.counter0 }}" />
                        </td>
                    {% else %}
                        <td>
                            {% if d.data.death %}
                                {{ d.data.death }}
                                <input type="hidden" value="{{ d.data.death }}" name="death_{{ forloop.counter0 }}" />
                            {% endif %}
                        </td>
                    {% endif %}
                    <td>
                        {{ d.data.info }}
                        <input type="hidden" value="{{ d.data.info|default:"" }}" name="info_{{ forloop.counter0 }}" />
                        <input type="hidden" value="{% if d.errors %}{{ d.data.duty.error }} {{ d.data.person.error }} {{ d.data.birth.error }} {{ d.data.death.error }}{% else %}Отказ{% endif %}" name="error_{{ forloop.counter0 }}" />
                    </td>
                    <td>
                        {{ d.data.info_unit }}
                        <input type="hidden" value="{{ d.data.info_unit|default:"" }}" name="info_unit_{{ forloop.counter0 }}" />
                    </td>
                    <td>
                        {{ d.data.info_birth }}
                        <input type="hidden" value="{{ d.data.info_birth|default:"" }}" name="info_birth_{{ forloop.counter0 }}" />
                    </td>
                </tr>
            {% endfor %}
        </table>

        {% if not bad_errors %}
            <p><input type="submit" value="Загрузить" onclick="this.css.display='none';" /></p>
        {% endif %}
    </form>
{% endblock %}
