{% extends "base.html" %}

{% block title %}MIL.ORG - Карточка Воина{% endblock %}

{% block content %}
    <h1>Личная карточка воина {{ person.last_name }}</h1>
    <a href="/admin/common/person/{{person.uuid}}">редактировать</a>
    <br>
    <br>
    Фамилия: {{ person.last_name }}<br>
    Имя: {{ person.first_name }}<br>
    Отчество: {{ person.patronymic }}<br>
    Дата роджения: {{ person.get_unclear_birth_date }}<br>
    Место рождения: {{ person.birth_location }}<br>
    Место нахождения документов: {{ person.documents_place|default:"нет" }}<br>
    Источник информации: {{ person.information_source }}<br>
    Категория погибшего: {{ person.deadman_category|default:"не известна" }}<br>
    Место призыва: {{person.personcall.unit}}<br>
    Дата призыва: {{ person.personcall.date }}<br>
    Место службы: {{ person.personduty.unit|default:"не известно" }}<br>
    Звание: {{ person.personduty.rank }}<br>
    Должность: {{ person.personduty.post }}<br>
    Дата гибели: {{ person.get_unclear_death_date }}<br>
    Причина гибели: {{ person.death_cause|default:"не известна" }}<br>
    <br>
    {% if person.burial %}
        <table border="1" rules="rows" width="100%">
            <thead>
                <td>Номер захоронения</td>
                <td>Дата захоронения</td>
                <td>Адрес захоронения</td>
            </thead>
            <tr>
                <td><a href="{% url burial person.burial.uuid %}">{{ person.burial.passportid }}</a></td>
                <td>{{ person.burial.date_burried }}</td>
                <td>{{ person.burial.location }}</td>
            </tr>
            {% for old in  person.closed_burials.all %}
            <tr>
                <td>
                    Перенесено из:
                    <a href="{% url burial old.uuid %}">{{ old.passportid }}</a>
                </td>
                <td>{{ old.date_burried }}</td>
                <td>{{ old.location }}</td>
            </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}
