{% extends "base.html" %}

{% block title %}MIL.ORG - Карточка Воина{% endblock %}

{% block content %}
    <h1>Личная карточка Воина</h1>
    <br>
    Фамилия: {{ person.last_name }}<br>
    Имя: {{ person.first_name }}<br>
    Отчество: {{ person.patronymic }}<br>
    Дата роджения: {{ person.birth_date }}<br>
    Место рождения: {{ person.cemetery.country }}&nbsp; {{person.cemetery.region}}&nbsp; {{person.cemetery.city}}&nbsp; {{person.cemetery.street}}&nbsp; {{person.cemetery.house}}&nbsp; {{person.cemetery.block}}&nbsp; {{person.cemetery.building}}<br>
    Дополнительная информация о месте рождения: {{ person.cemetery.name }}<br>
    Место нахождения документов: {{ person.documents_place.name }}<br>
    Источник информации: {{ person.information_source.name }}<br>
    Категория погибшего: {{ person.death_category.name }}<br>
    <table width="100%">
        <thead>
            <td>Место службы</td>
            <td>Звание</td>
            <td>Должность</td>
            <td>Дата начала</td>
            <td>Дата окончания</td>
        </thead>
    {% for pd in person.personduty_set.all %}
        <tr>
            <td>{{ pd.duty.name }}</td>
            <td>{{ pd.rank.name }}</td>
            <td>{{ pd.position.name }}</td>
            <td>{{ pd.date_from }}</td>
            <td>{{ pd.date_to }}</td>
        </tr>
    {% endfor %}
    </table>
    <br>
    Дата гибели: {{ person.death_date }}<br>
    Причина гибели: {{ person.death_cause.name }}<br>
    <table width="100%">
        <thead>
            <td>Номер захоронения</td>
            <td>Дата захоронения</td>
            <td>Дата эксгумации</td>
            <td>Адрес захоронения</td>
            <td>Дополнительная информация</td>
        </thead>
    {% for pb in person.personburial_set.all %}
        <tr>
            <td>{{ pb.burial.passportid }}</td>
            <td>{{ pb.date_burried }}</td>
            <td>{{ pb.date_exhumated }}</td>
            <td>{{ pb.burial.location.country }}&nbsp;{{ pb.burial.location.region }}&nbsp;{{ pb.burial.location.city }}</td>
            <td>{{ pb.burial.additional_info }}</td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}
