{% extends "base.html" %}
{% block scripts %}
<link rel="stylesheet" href="http://yandex.st/jquery-ui/1.8.11/themes/humanity/jquery.ui.all.min.css"/>

<script type="text/javascript" src="http://yandex.st/jquery/1.6.4/jquery.min.js"></script>
<script type="text/javascript" src="http://yandex.st/jquery-ui/1.8.16/jquery-ui.min.js"></script>
<script type="text/javascript" src="http://yandex.st/jquery-ui/1.8.16/i18n/jquery.ui.datepicker-ru.min.js"></script>
<script type="text/javascript">
    $(function() {
        $( ".DateField" ).datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: 'dd.mm.yy',
            yearRange: '1850:{% now "Y" %}'
        });
        cache = {};
        $('#id_last_name').autocomplete({
            source: function( request, response ) {
                var term = request.term;
                if ( term in cache ) {
                    response( cache[ term ] );
                    return;
                }

                lastXhr = $.getJSON( "{% url persons_autocomplete %}", request, function( data, status, xhr ) {
                    cache[ term ] = data;
                    if ( xhr === lastXhr ) {
                        response( data );
                    }
                });
            },
            minLength: 2
        })
    })
</script>
<style type="text/css">
    ul.ui-autocomplete li { list-style-type: none; }
</style>
{% endblock %}

{% block title %}MIL.ORG - Поиск воинов{% endblock %}

{% block content %}
    {# Заголовок страницы #}
    <h1>Поиск воинов</h1>
    {# Форма поиска #}
    <form action="" method="get">
        <table>
            {{ form.as_table }}
            <tr>
                <td style="vertical-align: middle;">
                    <input type="submit" value="Поиск" name="search" id="isok" style="padding: 10px 50px; "/>
                </td>
                <td style="vertical-align: middle; text-align: right;">
                    <input type="submit" value="Сброс" name="search" id="iscancel"/>
                </td>
            </tr>
        </table>
    </form>
    <br>
    {# Вывод результатов поиска в виде таблицы #}
    {% if persons %}
        <table width="100%">
            <caption align="left" style="text-align:left">Результат&nbsp;поиска:&nbsp;{{ persons_count }}&nbsp;записей</caption>
                <thead>
                    <th>№п/п</th>
                    <th>Фамилия</th>
                    <th>Имя</th>
                    <th>Отчество</th>
                    <th>Звание</th>
                    <th>Дата рождения</th>
                    <th>Дата смерти</th>
                    <th>Захоронение</th>
                    <th>Расположение</th>
                    <th>Дополнительная информация</th>
                    <th></th>
                </thead>
            {% for person in persons.object_list %}
                <tr>
                    <td>{{ forloop.counter|add:search_offset }}</td>
                    <td><a href="{% url person person.uuid %}">{{ person.last_name.upper }}</a></td>
                    <td>{{ person.first_name.upper }}</td>
                    <td>{{ person.patronymic.upper }}</td>
                    <td>{{ person.personduty.rank }}</td>
                    <td>{{ person.get_unclear_birth_date }}</td>
                    <td>{{ person.get_unclear_death_date }}</td>
                    {% if person.burial %}
                        <td>
                            <a href="{% url burial person.burial.uuid %}">{{ person.burial }}</a>
                        </td>
                        <td>
                            {% with person.burial.location as location %}
                                {% if location.country %}{{ location.country }}{% if location.region or location.city %}, {% endif %}{% endif %}
                                {% if location.region %}{{ location.region }}{% if location.city %}, {% endif %}{% endif %}
                                {% if location.city %}{{ location.city }}{% endif %}
                            {% endwith %}
                        </td>
                    {% else %}
                        <td></td><td></td>
                    {% endif %}
                    <td>{{ person.info|default:"" }}</td>
                    <td>
                        <a href="{% url person person.uuid %}">просмотр</a>
                        <br/>
                        <a href="{% url person person.uuid %}?template=reports/report_1.html" target="_blank">Форма 1</a>
                        <br/>
                        <a href="/admin/common/person/{{ person.uuid }}">правка</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <br/>
        <center>
            {% if persons.has_previous %}
                <a href="?{{ query_vars }}&p={{ persons.previous_page_number }}"><< Пред</a>
            {% endif %}

            Страница {{ persons.number }} из {{ persons.paginator.num_pages }}

            {% if persons.has_next %}
                <a href="?{{ query_vars }}&p={{ persons.next_page_number }}">След >></a>
            {% endif %}
        </center>
    {% else %}
        {% if is_first_search %}
            <caption>Поиск&nbsp;не&nbsp;выполнен. Всего записей: {{ persons_count }}&nbsp;</caption>
        {% else %}
            <caption>Результат&nbsp;поиска:&nbsp;0</font>&nbsp;записей</caption>
        {% endif %}
    {% endif %}


{% endblock %}
