{% extends "base.html" %}

{% block title %}MIL.ORG - Карточка Воина{% endblock %}

{% block content %}
    <h1>Личная карточка воина {{ person.last_name }}</h1>
    <a href="/admin/common/person/{{person.uuid}}">редактировать</a>
    <br>
    <br>
    Фамилия: {{ person.last_name }}<br>
    Имя: {{ person.first_name }}<br>
    Отчество: {{ person.patronymic }}<br>
    Дата рождения: {{ person.get_unclear_birth_date|default:"" }}<br>
    Место рождения: {{ person.birth_location|default:"" }}<br>
    Место нахождения документов: {{ person.documents_place|default:"" }}<br>
    Источник информации: {{ person.information_source|default:"" }}<br>
    Категория погибшего: {{ person.deadman_category|default:"" }}<br>
    Место призыва: {{ person.personcall.unit|default:"" }}<br>
    Дата призыва: {{ person.personcall.get_unclear_date|default:"" }}<br>
    Место службы: {{ person.personduty.unit_name|default:"" }}<br>
    Звание: {{ person.personduty.rank|default:"" }}<br>
    Должность: {{ person.personduty.post|default:"" }}<br>
    Дата гибели: {{ person.get_unclear_death_date|default:"" }}<br>
    Причина гибели: {{ person.death_cause|default:"" }}<br>
    <br>
    {% if person.burial %}
        <table border="1" rules="rows" width="100%">
            <thead>
                <td>Номер захоронения</td>
                <td>Дата захоронения</td>
                <td>Адрес захоронения</td>
            </thead>
            <tr>
                <td><a href="{% url burial person.burial.uuid %}">{{ person.burial.passportid }}</a></td>
                <td>{{ person.burial.get_unclear_date_burried|default:"" }}</td>
                <td>{{ person.burial.location|default:"" }}</td>
            </tr>
            {% for old in  person.closed_burials.all %}
            <tr>
                <td>
                    Перенесено из:
                    <a href="{% url burial old.uuid %}">{{ old.passportid|default:"без номера" }}</a>
                </td>
                <td>{{ old.get_unclear_date_burried|default:"" }}</td>
                <td>{{ old.location|default:"" }}</td>
            </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}
