{% extends "base.html" %}
{% block scripts %}
<link rel="stylesheet" href="http://yandex.st/jquery-ui/1.8.11/themes/humanity/jquery.ui.all.min.css"/>

<script type="text/javascript" src="http://yandex.st/jquery/1.5.1/jquery.min.js"></script>
<script type="text/javascript" src="http://yandex.st/jquery-ui/1.8.11/jquery-ui.min.js"></script>
<script type="text/javascript" src="http://yandex.st/jquery-ui/1.8.11/i18n/jquery.ui.datepicker-ru.min.js"></script>
<script type="text/javascript">
    $(function() {
        $( ".DateField" ).datepicker({
			changeMonth: true,
			changeYear: true,
            dateFormat: 'dd.mm.yy',
            yearRange: '1400:{% now "Y" %}'
		});
    })
</script>
{% endblock %}

{% block title %}MIL.ORG - Поиск воинов{% endblock %}

{% block content %}
    {# Заголовок страницы #}
    <h1>Поиск воинов</h1>
    {# Форма поиска #}
    <form action="" method="get">
        <table>
            {{ form.as_table }}
            <tr>
                <td><input type="submit" value="Поиск" name="search" id="isok"></td>
                <td><input type="submit" value="Сброс" name="search" id="iscancel"></td>
            </tr>
        </table>
    </form>
    <br>
    {# Вывод результатов поиска в виде таблицы #}
    {% if persons %}
        <table width="100%">
            <caption align="left" style="text-align:left">Результат&nbsp;поиска:&nbsp;{{ persons_count.number }}&nbsp;записей</caption>
                <thead>
                    <td>Фамилия</td>
                    <td>Имя</td>
                    <td>Отчество</td>
                    <td>Дата роджения</td>
                    <td>Дата смерти</td>
                    <td>Захоронение</td>
                    <td>Дополнительная информация</td>
                </thead>
            {% for person in persons.object_list %}
                <tr>
                    <td><a href="{% url person person.uuid %}">{{ person.last_name }}</a></td>
                    <td>{{ person.first_name }}</td>
                    <td>{{ person.patronymic }}</td>
                    <td>{{ person.birth_date }}</td>
                    <td>{{ person.death_date }}</td>
                    <td>
                        {% if person.burial %}
                        <a href="{% url burial person.burial.uuid %}">{{ person.burial }}</a>
                        {% endif %}
                    </td>
                    <td>{{ person.info }}</td>
                </tr>
            {% endfor %}
        </table>
        <br/>
        <center>
            {% if persons.has_previous %}
                <a href="?{{ query_vars }}&p={{ persons.previous_page_number }}"><< Пред</a>
            {% endif %}

            Страница {{ persons.number }} из {{ persons.paginator.num_pages }}

            {% if persons.has_next %}
                <a href="?{{ query_vars }}&p={{ persons.next_page_number }}">След >></a>
            {% endif %}
        </center>
    {% else %}
        {% if is_first_search %}
            <caption>Поиск&nbsp;не&nbsp;выполнен. Всего записей: {{ persons_count.number }}&nbsp;</caption>
        {% else %}
            <caption>Результат&nbsp;поиска:&nbsp;0</font>&nbsp;записей</caption>
        {% endif %}
    {% endif %}
{% endblock %}
