{% extends "admin/change_form.html" %}

{% block extrahead %}{{ block.super }}
<script type="text/javascript">
    $ = django.jQuery;

    function updateCatsCounts() {
        var ef = $('#burial_categories-group .empty-form');
        var sum1 = 0, sum2 = 0, sum3 = 0;
        $('#burial_categories-group tbody tr').each(function() {
            sum2 += parseInt($(this).find('td:eq(2) input').val());
            sum3 += parseInt($(this).find('td:eq(3) input').val());
            sum1 += parseInt($(this).find('td:eq(4) p').text());
        });

        $('#id_count_known, #id_count_unknown').parents('.form-row').hide();
        $('#id_count_known, #id_count_unknown').css('width', '5em');

        var sum_all = ((sum2 || sum1) + sum3);
        ef.find('td:eq(1)').html('<p>всего: <input type="text" id="id_sum_all" value="'+sum_all+'"/></p>');
        ef.find('td:eq(2)').find('input').replaceWith($('#id_count_known'));
        ef.find('td:eq(3)').find('input').replaceWith($('#id_count_unknown'));
        ef.find('td:eq(4)').html('<p>'+sum1+'</p>');
        ef.removeClass('empty-form');
    }

    django.jQuery(function($) {
        $('.form-row.burial_type').before($('#locationburial-group'));
        $('#locationburial-group textarea').css('width', '300px');
        $('#locationburial-group').css({margin: '0', border: 'none'});
        $('#burial_categories-group :input').change(updateCatsCounts);
        updateCatsCounts();
        $('form').submit(function() {
            var ef = $('#burial_categories-empty');
            var sum1 = 0, sum2 = 0, sum3 = 0;
            $('#burial_categories-group tbody tr').not(':last').each(function() {
                sum2 += parseInt($(this).find('td:eq(2) input').val());
                sum3 += parseInt($(this).find('td:eq(3) input').val());
            });
            var final2 = parseInt(ef.find('td:eq(2) input').val());
            var final3 = parseInt(ef.find('td:eq(3) input').val());

            if (sum2 != final2) {
                alert('Сумма счетчиков известных ('+sum2+') не совпадает с указанным значением итого ('+final2+')');
                return false;
            }
            if (sum3 != final3) {
                alert('Сумма счетчиков неизвестных ('+sum3+') не совпадает с указанным значением итого ('+final3+')');
                return false;
            }
            var sum_all = parseInt($('#id_sum_all').val());
            if (sum_all != final3 + final2) {
                alert('Сумма счетчиков известных и неизвестных ('+final3 + final2+') не совпадает со значением "Всего" ('+sum_all+')');
                return false;
            }
            return true;
        });

        $('#burial_categories-group td p:contains("(Ничего)")').parents('tr').hide();
        $('#burial_categories-group tr:visible:last').find('p').css('font-weight', 'bold');
        $('#burial_categories-group tr:visible:last').find('input').css('border', '2px gray solid');
    })
</script>
{% endblock %}