{% extends "admin/change_form.html" %}

{% block extrahead %}{{ block.super }}
<script type="text/javascript">
    $ = django.jQuery;

    function updateCatsCounts() {
        var ef = $('#burial_categories-group .empty-form');
        var sum1 = 0, sum2 = 0, sum3 = 0;
        $('#burial_categories-group tbody tr').each(function() {
            sum1 += parseInt($(this).find('td:eq(2) p').text());
            sum2 += parseInt($(this).find('td:eq(3) input').val());
            sum3 += parseInt($(this).find('td:eq(4) input').val());
        });

        $('#id_count_known, #id_count_unknown').parents('.form-row').hide();
        $('#id_count_known, #id_count_unknown').css('width', '5em');

        ef.find('td:eq(1)').css('text-align', 'right').html('<p>всего: ' + ((sum2 || sum1) + sum3) + '</p>');
        ef.find('td:eq(2)').html('<p>'+sum1+'</p>');
        ef.find('td:eq(3)').find('input').replaceWith($('#id_count_known'));
        ef.find('td:eq(4)').find('input').replaceWith($('#id_count_unknown'));
        ef.removeClass('empty-form');
    }

    django.jQuery(function($) {
        $('.form-row.burial_type').before($('#locationburial-group'));
        $('#locationburial-group textarea').css('width', '300px');
        $('#locationburial-group').css({margin: '0', border: 'none'});
        $('#burial_categories-group :input').change(updateCatsCounts);
        updateCatsCounts();
    })
</script>
{% endblock %}